__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
dist/
build/
.venv/
.venv*/
venv/
.ipynb_checkpoints/
.DS_Store

pm/model/weights/*.pt
pm/model/weights/*.pth
pm/model/weights/*.ckpt

pm/dataset/*.tar.gz
pm/dataset/ASVspoof2021_LA_eval/
pm/dataset/asvspoof_small/
pm/dataset/keys/
*.flac
